@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
body{
    background-color: pink;
   
}

img{
  border: 5px red solid;
  border-radius: 10%;
  margin-left: 30%;
  width: 400px;
  height: 400px;
    
}
p{
    color: black;
    text-align: center;
    font-size: 20px;
    
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    
  }
  .click{
    background-color: #fff;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 2px red;
    margin-left: 35%;
    margin-top: 30px;
  }
  
  .click a {
    color: red;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    box-shadow: 2px 2px 10px 2px black;
    
  
  }