@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Molle:ital@1&family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
body{
    background: url(download\ \(4\).jpg);
    
  
    background-size: cover;
}

h1{
    text-align: center;
    font-family: "Fredericka the Great", serif;
    color: red;
  font-weight: 500;
  font-style: normal;
  font-size: 100px;
}
  
p{
  color: pink;
  text-align: center;
  font-size: 20px;
  
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
  
}
  

.card h1{
  text-align: center;
  font-size: 40px;
  color: pink;
  font-family: "Molle", cursive;
  font-weight: 400;
  font-style: normal;
}
h2{
  color: red;
  text-align: center;
  font-weight: 2000;
  font-style: normal;
  font-family: "Zeyada", cursive;
  font-size: 50px;
}
.click{
  background-color: #fff;
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 2px red;
  margin-left: 35%;
}

.click a {
  color: red;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  box-shadow: 2px 2px 10px 2px black;
  

}

