@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Molle:ital@1&family=Zeyada&display=swap');
body{
    background-color: black;
}


h1{
    text-align: center;
    font-family: "Fredericka the Great", serif;
    color: pink;
  font-weight: 500;
  font-style: normal;
  font-size: 80px;
}
img{
   text-align: center;
   margin-left: 10%;
}

.back{
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: plum;
    border-radius: 20%;
    border: 2px solid pink;
    margin-left: 50%;

}
.back a{
    color: red;
    font-size: 20px;
    text-decoration: none;
    font-family: sans-serif;

}

