@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Molle:ital@1&family=Zeyada&display=swap');

* {
    padding: 0;
    margin: 0;
}
body,
html{
    width: 100%;
    height: 100%;
    font-family: cursive;
    font-weight: 700;
    color: rgb(31, 234, 13);
    background-color: black;
    overflow: hidden;
}

p#start {
    position: relative;
    width: 16em;
    font-size: 60px;
    text-align: center;
    font-family: "Fredericka the Great", serif;

    font-weight: 400;
    margin: 20% auto;
    color: pink;
    opacity: 0;
    z-index: 1;
    -webkit-animation: intro 2s ease-out;
    -moz-animation: intro 2s ease-out;
    -ms-animation: intro 2s ease-out;
    -o-animation: intro 2s ease-out;
    animation: intro 2s ease-out;
}
@-webkit-keyframes intro {
    0%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@-moz-keyframes intro {
    0%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@-ms-keyframes intro {
    0%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@-o-keyframes intro {
    0%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes   intro {
    0%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

h1{
    position: absolute;
    width: 2.6em;
    left: 50%;
    top: 25%;
    font-size: 10em;
    text-align: center;
    margin-left: -1.3em;
    line-height: 0.8em;
    letter-spacing: -0.05em;
    color: pink;
    text-shadow: -2px -2px 0 red, -2px -2px 0 red, -2px -2px 0 red,
    -2px -2px 0 red; 
    opacity: 0;
    z-index: 1;
    -webkit-animation: logo 5s ease-out 2.5s; 
    -moz-animation: logo 5s ease-out 2.5s; 
    -ms-animation: logo 5s ease-out 2.5s; 
    -o-animation: logo 5s ease-out 2.5s; 
    animation: logo 5s ease-out 2.5s; 
}
h1 sub {
    display: block;
    font-size: 0.3em;
    letter-spacing: 0;
    line-height: 0.8em;
}

@-webkit-keyframes logo{
    0% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.1);
        opacity: 0;
    }
}

@-moz-keyframes logo{
    0% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.1);
        opacity: 0;
    }
}

@-ms-keyframes logo{
    0% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.1);
        opacity: 0;
    }
}

@-o-keyframes logo{
    0% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.1);
        opacity: 0;
    }
}

@keyframes logo{
    0% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.1);
        opacity: 0;
    }
}

#titles {
    position: absolute;
    width: 18em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 150%;
    text-align: justify;
    overflow: hidden;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: perspective(300px) rotateX(5deg);
    -moz-transform: perspective(300px) rotateX(5deg);
    -ms-transform: perspective(300px) rotateX(5deg);
    -o-transform: perspective(300px) rotateX(5deg);
    transform: perspective(300px) rotateX(5deg);
}
#titles::after {
    position: absolute;
    content: " ";
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background-image: -webkit-linear-gradient(
        top,
        rgba(0 , 0, 0,1) 0%,
        transparent 100%
    );
    background-image: -moz-linear-gradient(
        top,
        rgba(0 , 0, 0,1) 0%,
        transparent 100%
    );
    background-image: -ms-linear-gradient(
        top,
        rgba(0 , 0, 0,1) 0%,
        transparent 100%
    );
    background-image: -o-linear-gradient(
        top,
        rgba(0 , 0, 0,1) 0%,
        transparent 100%
    );
    background-image: linear-gradient(
        top,
        rgba(0 , 0, 0,1) 0%,
        transparent 100%
    );
    pointer-events: none;
}
#titles p {
    text-align: justify;
    margin: 0.8em 0;
    font-weight: 500;
    color: white;

}

#titles p.center{
    color: #ff6;
    font-family: "Fredericka the Great", serif;
    text-align: center;
    text-decoration: underline;
    background-color: plum;
    color: white;
}

#titlecontent {
    position: absolute;
    top: 100%;
    -webkit-animation: scroll 100s linear 4s infinite;
    -moz-animation: scroll 100s linear 4s infinite;
    -ms-animation: scroll 100s linear 4s infinite;
    -o-animation: scroll 100s linear 4s infinite;
    animation: scroll 100s linear 4s infinite;
}

@-webkit-keyframes scroll{
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}

@-moz-keyframes scroll{
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}

@-ms-keyframes scroll{
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}

@-o-keyframes scroll{
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}

@keyframes scroll{
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}

.click{
    margin-top: 10%;
    width: 300px;
    height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
    background-color: red;
    border-radius: 20px;
   margin-left: 35%;
}
.click a{
    align-items: center;
    color: white;
    text-decoration: none;
    font-family: "Cedarville Cursive" , cursive;
    font-size: 30px;
}