
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Molle:ital@1&family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Triangles&display=swap');
body{
    background-color: pink;
}

.gift{
    width: 100%;
    height: 100%;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
h1{
   text-align: center;
  margin-top: 50px;
  font-family: "Fredericka the Great", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 100px;
  color: black;
}
a{
    text-decoration: none;
}
h2{
    margin-top: 20%;
    text-align: center;
    color: red;
    font-family: "Molle", cursive;
    font-weight: 400;
    font-style: italic;
    font-size: 50px;


}
h1 i {
    color: red;
}