
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Molle:ital@1&family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
img{
    margin-left: 30%;
}

h1{
    text-align: center;
    font-family: "Fredericka the Great", serif;
    color: maroon;
    
  font-weight: 500;
  font-style: normal;
  font-size: 100px;
}
  

h2{
  color: black;
  text-align: center;
  font-size: 20px;
  
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
  
}
  

.click{
    background-color: #fff;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 2px red;
    margin-left: 35%;
  }
  
  .click a {
    color: red;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    box-shadow: 2px 2px 10px 2px black;
    
  
  }