@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Molle:ital@1&family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Triangles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
body{
    background: url(Pattern\ corações.jpg);
    background-size: cover;
    

}
p{
    color: rgb(39, 11, 11);
    text-align: center;
    font-size: 20px;
    
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    
  }


h1{
    text-align: center;
    
  
    font-family: "Fredericka the Great", serif;
    color: pink;
  font-weight: 500;
  font-style: normal;
  margin-top: 10%;
  font-size: 60px;
}
img{
   text-align: center;
   margin-left: 30%;
   border-radius: 10%;
   border: 5px brown solid;
   text-align: center;
}

.back{
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    border-radius: 20%;
    border: 2px solid rgb(100, 31, 31);
    margin-left: 45%;

}
.back a{
    color: brown;
    font-size: 20px;
    text-decoration: none;
    font-family: sans-serif;

}

